{% extends 'main.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'stylesheets/amazon_home.css' %}">
{% endblock %}
    
{% block content %}
<!-- ================= HERO ================= -->

<div class="hero">
    <div class="innerhero">
        <!-- <h4>Starting ₹99</h4>
        <h6>Bestselling Mobile Accessories</h6> -->
        <!-- <img src="" alt=""> -->
    </div>
</div>

<!-- ================= PRODUCTS ================= -->

<div class="products">

    <div class="card">
        <h3>Revamp your home in style</h3>
        
        <div class="innerCard">
            <div class="4cards">
                <img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG20/Home/2024/Gateway/BTFGW/PCQC/New/1x/final/186x116_Home_furnishings_2._SY116_CB555624324_.jpg">
                <p>Cushion covers, bedsheets & more</p>
            </div>
            <div class="4cards">
                <img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG20/Home/2024/Gateway/BTFGW/PCQC/New/1x/final/186x116_Home_decor_1._SY116_CB555624324_.jpg">
                <p>Figurines, vases & more</p>
            </div>
            <div class="4cards">
                <img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG20/Home/2024/Gateway/BTFGW/PCQC/New/1x/final/186x116_Home_storage_1._SY116_CB555624324_.jpg">
                <p>Home storage</p>
            </div>
            <div class="4cards">
                <img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG20/Home/2024/Gateway/BTFGW/PCQC/New/1x/final/186x116_Home_lighting_2._SY116_CB555624324_.jpg">
                <p>Lighting solutions</p>
            </div>
        </div>
        <a>Explore all</a>
        
    </div>

    <div class="card">
        <h3>Bulk order discounts</h3>
        <div class="innerCard">
            <div class="4cards">
                <img src="https://images-eu.ssl-images-amazon.com/images/G/31/AmazonBusiness/img25/nov/bau/ain/gw/Laptops_186_116_10._SY116_CB777673831_.jpg">
                <p>Up to 45% off | Laptops</p>
            </div>
            <div class="4cards">
                <img src="https://images-eu.ssl-images-amazon.com/images/G/31/AmazonBusiness/img25/nov/bau/ain/gw/KitchenAppliances_186_116_10._SY116_CB777673831_.jpg">
                <p>Up to 60% off | Kitchen appliances</p>
            </div>
            <div class="4cards">
                <img src="https://images-eu.ssl-images-amazon.com/images/G/31/AmazonBusiness/img25/nov/bau/ain/gw/OfficeChairs_186_116_10._SY116_CB777673831_.jpg">
                <p>Min. 50% off | Office furniture</p>
            </div>
            <div class="4cards">
                <img src="https://images-eu.ssl-images-amazon.com/images/G/31/AmazonBusiness/img25/dec/bau/ain/gw/ABdelivery_186_116._SY116_CB776314701_.jpg">
                <p>Register using GST, Udyam, FSSAI or BPAN</p>
            </div>
        </div>
        <a>Create a free account</a>
    </div>

    <div class="card">
        <h3>Appliances for your home</h3>
        <div class="innerCard">
            <div class="4cards">
                <img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG15/Irfan/GATEWAY/MSO/Appliances-QC-PC-186x116--B08RDL6H79._SY116_CB667322346_.jpg">
                <p>Air conditioners</p>
            </div>
            <div class="4cards">
                <img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG15/Irfan/GATEWAY/MSO/Appliances-QC-PC-186x116--B08345R1ZW._SY116_CB667322346_.jpg">
                <p>Refrigerators</p>
            </div>
            <div class="4cards">
                <img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG15/Irfan/GATEWAY/MSO/Appliances-QC-PC-186x116--B07G5J5FYP._SY116_CB667322346_.jpg">
                <p>Microwaves</p>
            </div>
            <div class="4cards">
                <img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG15/Irfan/GATEWAY/MSO/186x116---wm._SY116_CB667322346_.jpg">
                <p>Washing machines</p>
            </div>
        </div>
        <a>See more</a>
    </div>

    <div class="card">
        <h3>Deals on home</h3>
        <div class="innerCard">
            <div class="4cards">
                <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img18/HomeImprovement/harsmisc/2025/March/Wipes_low_res_V1._SY116_CB549138744_.jpg">
                <p>Cleaning supplies</p>
            </div>
            <div class="4cards">
                <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img18/HomeImprovement/harsmisc/2025/March/Wipes_low_res_V1._SY116_CB549138744_.jpg">
                <p>Bathroom accessories</p>
            </div>
            <div class="4cards">
                <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img18/HomeImprovement/harsmisc/2025/March/Tools_low_res_V1._SY116_CB549138744_.jpg">
                <p>Home tools</p>
            </div>
            <div class="4cards">
                <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img18/HomeImprovement/harsmisc/2025/March/Wallpapers_low_res_V1._SY116_CB549138744_.jpg">
                <p>Wallpapers</p>
            </div>
        </div>
        <a>Explore all</a>
    </div>

</div>

{% endblock %}

