

{% extends 'main.html' %}
{% load static %}

{% block title %}Shop groceries online{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'stylesheets/fresh.css' %}">
{% endblock %}
    
{% block content %}

<!-- ================= FRESH NAV ================= -->

<div class="fresh-nav">

    <div class="fresh-top">
        <div class="fresh-logo">fresh</div>

        <div class="fresh-menu">
            <div>Past Purchases</div>
            <div>Alexa lists</div>
            <div>Deals</div>
            <div>Fruits & vegetables</div>
            <div>Atta, rice & grains</div>
            <div>Oil & ghee</div>
            <div>Milk & dairy</div>
            <div>Chips & biscuits</div>
            <div>Eggs, meat & fish</div>
            <div>Bath & body</div>
            <div>Laundry detergents</div>
            <div>Baby care</div>
        </div>
    </div>

</div>

<!-- ================= DELIVERY ================= -->

<div class="delivery-box">
    <h3>Delivery ▼</h3>
    <p>As fast as 4 hours</p>
    <p>Login to check slots</p>
</div>

<!-- ================= SAVINGS ================= -->

<div class="savings-section">
    <img src="https://m.media-amazon.com/images/G/31/img18/Fresh/Hero_Slider/SVD/6feb/1_6.jpg" alt="">
</div>

<!-- ================= GROCERY ================= -->

<div class="grocery-section">
    <div class="grocery">
        <img src="https://m.media-amazon.com/images/G/31/img18/Fresh/SBCTILES/UPDATED/Groceries__food_pc.jpg" alt="">

        <div class="grocery-items">

            <div class="grocery-item">
                <img src="https://m.media-amazon.com/images/G/31/img18/Fresh/CategoryStores/Pet/Fresh_Vegetables.jpg">
            </div>

            <div class="grocery-item">
                <img src="https://m.media-amazon.com/images/G/31/img18/Fresh/CategoryStores/Pet/Fresh_fruits.jpg">
            </div>

            <div class="grocery-item">
                <img src="https://m.media-amazon.com/images/G/31/img18/Fresh/SBCTILES/UPDATED/Atta_Rice__grains.jpg">
            </div>

            <div class="grocery-item">
                <img src="https://m.media-amazon.com/images/G/31/img18/Fresh/SBCTILES/UPDATED/Atta_Rice__grains.jpg">
            </div>

            <div class="grocery-item">
                <img src="https://m.media-amazon.com/images/G/31/img18/Fresh/SBCTILES/UPDATED/Oil__Ghee.jpg">
            </div>

            <div class="grocery-item">
                <img src="https://m.media-amazon.com/images/G/31/img24/Fresh/Aug/V1/Masala_sugar__spices.jpg">
            </div>

            <div class="grocery-item">
                <img src="https://m.media-amazon.com/images/G/31/img18/Fresh/CategoryStores/Pet/dry-fruits_1.jpg">
            </div>

            <div class="grocery-item">
                <img src="https://m.media-amazon.com/images/G/31/img18/Fresh/SBCTILES/UPDATED/Noodles__pasta.jpg">
            </div>

            <div class="grocery-item">
                <img src="https://m.media-amazon.com/images/G/31/img18/Fresh/CategoryStores/Pet/Chips.jpg">
            </div>

            <div class="grocery-item">
                <img src="https://m.media-amazon.com/images/G/31/img18/Fresh/CategoryStores/Pet/Choclate__Ice_cream.jpg">
            </div>

            <div class="grocery-item">
                <img src="https://m.media-amazon.com/images/G/31/img18/Fresh/SBCTILES/UPDATED/Ready_to_eat__frozen_food.jpg">
            </div>

            <div class="grocery-item">
                <img src="https://m.media-amazon.com/images/G/31/img18/Fresh/CategoryStores/Pet/Indian_Snacks_1.jpg">
            </div>
        </div>
    </div>
</div>

{% endblock %}

