
/* ================= FOOTER ================= */

.footer{
    background:#131921;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:30px;
}

@media(max-width:768px){
    .nav-right{
        display:none;
    }
}