
/* ================= HERO ================= */

.hero{
    /* background:linear-gradient(to right,#8fa58c,#6d7f70); */
    background-image: url(https://images-eu.ssl-images-amazon.com/images/G/31/img22/WLA/2025/Uber/Unrec_GW/Updated/D323819370_3000._CB788515770_.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height:300px;
    display:flex;
    align-items:center;
    padding-left:40px;
    color:white;
    font-size:28px;
    font-weight:bold;
    /* position: relative; */
}
/* .innerhero{
    width: 200px;
    position: absolute;
    top: 20px;
    left: 450px;
} */
/* .innerhero h4,h5{
    margin-bottom: 10px;
} */

/* ================= PRODUCTS ================= */

.products{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
    padding:20px;
    margin-top:-100px;
}

.card{
    background:white;
    padding:15px;
}
.innerCard{
    height: 340px;
    display: grid;   
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    
}

.card h3{
    margin-bottom:10px;
}

.card img{
    width:100%;
    height:110px;
    object-fit:cover;
}

.card p{
    margin-top:10px;
    font-size:12px;
}
.card>a{
    margin-top:10px;
    font-size:12px;
    color: #2162a1;
}
