*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

body{
    background:#f3f3f3;
}

/* ================= FRESH NAV ================= */

.fresh-nav{
    background:white;
    border-top:4px solid #6db33f;
    padding: 8px 30px;
}

.fresh-top{
    display:flex;
    align-items:center;
    gap:25px;
    color:#333;
    font-size:14px;
}

.fresh-logo{
    font-size:28px;
    color:#6db33f;
    font-weight:bold;
}

.fresh-menu{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
}

.fresh-menu div{
    cursor:pointer;
}

.fresh-menu div:hover{
    color:#6db33f;
}

/* ================= DELIVERY BOX ================= */

.delivery-box{
    margin:25px 40px 4px 40px;
    border:2px solid #6db33f;
    border-radius:10px;
    padding:20px;
    width:300px;
    background:white;
}

.delivery-box h3{
    color:#6db33f;
    margin-bottom:5px;
}

/* ================= SAVINGS SECTION ================= */

.savings-section{
    display: flex;
    justify-content: center;
}
.savings-section img{
    width: 85%;
}

/* ================= GROCERY SECTION ================= */

.grocery-section{
    margin: 2px 35px;
    width: 95.5%;
    background-color: #fff;

}

.grocery>img{
    height: 70px;
    margin: 0px 50px;
    
}
.grocery-items{

    display:flex;
    flex-wrap:wrap;
    padding: 0px 100px;

}

.grocery-item img{
    width: 100%;
    height: 280px;
    object-fit:cover;

}
