

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

body{
    background:#f5f5f5;
    color:#232f3e;
}

/* ================= SELLER NAV ================= */

.seller-nav{
    background:white;
    padding:15px 40px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    box-shadow:0 2px 5px rgba(0,0,0,0.1);
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 150;
    z-index: 0;
}

.seller-nav img{
    width:120px;
}

.start-btn{
    background:#f26522;
    color:white;
    padding:12px 25px;
    border-radius:25px;
    font-weight:bold;
    cursor:pointer;
    border:none;
}

/* ================= HERO SECTION ================= */

.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:80px 60px;
    background:#eeeeee;
    flex-wrap:wrap;
}

.hero-text{
    max-width:600px;
}

.hero-text h1{
    font-size:48px;
    line-height:1.2;
}

.hero-text span{
    color:#f26522;
}

.hero-text p{
    margin:20px 0;
    font-size:20px;
}

.hero img{
    width:450px;
    border-radius:20px;
}

/* ================= FEE DROP ================= */

.fee-section{
    padding:60px 40px;
    text-align:center;
}

.fee-section h2{
    font-size:40px;
    margin-bottom:40px;
}

.fee-cards{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
}

.fee-card{
    background:#e9e6e2;
    padding:40px;
    width:300px;
    border-radius:15px;
}

.fee-card h3{
    font-size:42px;
    margin-bottom:10px;
}

/* ================= CATEGORY IMPACT ================= */

.category-section{
    padding:60px 40px;
    text-align:center;
}

.category-section h2{
    font-size:36px;
    margin-bottom:40px;
}

.category-cards{
    display:flex;
    gap:40px;
    justify-content:center;
    flex-wrap:wrap;
}

.category-card{
    background:#dde4d3;
    width:450px;
    padding:30px;
    border-radius:20px;
    text-align:left;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.category-card img{
    width:180px;
    border-radius:10px;
}

.category-card h3{
    margin-bottom:15px;
}

/* ================= RESPONSIVE ================= */

@media(max-width:900px){
    .hero{
        flex-direction:column;
        text-align:center;
    }

    .hero img{
        margin-top:30px;
        width:100%;
        max-width:400px;
    }

    .category-card{
        flex-direction:column;
        text-align:center;
    }

    .category-card img{
        margin-top:20px;
    }
}
